{{#if logged_in}}
<div class="text-center">
  <form id="edit-input">
  <label for="title">Title:</label>
  <textarea id="title">{{post.title}}</textarea>

  <label for="content">Content:</label>
  <textarea id="content">{{post.content}}</textarea>
<input type='hidden' value={{user_id}} id="value-id"/>
</form>

  <button class="btn btn-sm btn-danger" id="edit-button" data-id="{{post.id}}" type="submit"> EDIT </button>
{{/if}}

</div>
<script scr="/js/edit.js"></script>